.form-control-1{
    width:600px;
}
.form-control-2 {
    width: 600px;
    height:300px;
}
.btn-muc-xu-phat {
    position: absolute;
    left:800px;
    width: 250px
}
.section-actions {
    position: absolute;
    right: 80px;
}
