@model WebApplication1.Views.Home.Article
@using WebApplication1.Views.Home
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Database db = new Database();
    List<Article> articles = db.LoadData();
    List<Chapter> chapters = db.LoadChapters();
    List<Section> sections = db.LoadSections();
}
<h1>Edit</h1>

<h4>Article</h4>
<hr />
@foreach(var Section in sections)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" asp-route-id="@Section.ID">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" value="@Section.ID" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" value="@Section.Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input row="5" asp-for="Content" class="form-control" value="@Section.Content" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
